.center-block {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-section {
    width: 36.5vw;
    max-width: 700px;
    height: fit-content;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: var(--app-default-shadow-blue);
}

.form-input-section .form-input-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.form-input-section .form-input-container .fi-headline {
    margin-bottom: 40px;
    transform: scale(.85);
}

.form-input-section .form-input-container .input-block1 .basic-input-container, 
.form-input-section .form-input-container .input-block2 .basic-input-container{
    margin-bottom: 25px;
}

.previous-next-container {
    display: flex;
    justify-content: space-between;
}

.btn-previous-container .standart-btn {
    background-color: var(--product-color-lightblue);
}

.btn-previous-container .arrow-container {
    transform: rotateY(180deg);
    margin-right: 20px;
    margin-left: 0;
}